:root{
    box-sizing: border-box;
    scroll-behavior: smooth;
    --body-fonts: "Jost", "Arial", sans-serif;
    --title-fonts: "Montserrat", "OpenSans", sans-serif;
    --font-size: 16px;
    --line-height: 140%;
    --bg-color:#1e2126;
    --basic-grey: #323233;
    --basic-yellow: #EBC302;
    --basic-white: #FEFEFE;
}